.aboutme{
  color:blue;
  font-style: italic;
  font-family: sans-serif;
  margin-bottom: 5px;
  margin-top: 5px;
}
.nextweek{
  color:red;
  font-style: oblique;
  font-family: cursive;
  margin-top: 5px;
  margin-bottom:  5px;

}
.shrink{
  width: 25%;
  height: auto;
}
